@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Cardo:300,400,500,600,700&subset=latin,latin-ext);
/* 
 * Variables, mixins, abstract classes and functions that do not themselves compile to CSS,
 * but are used throughout the project.
 */
@font-face {
  font-family: 'Nevis';
  src: url("../../fonts/nevis-webfont.eot");
  src: url("../../fonts/nevis-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/nevis-webfont.woff") format("woff"), url("../../fonts/nevis-webfont.ttf") format("truetype"), url("../../fonts/nevis-webfont.svg#webfontbold") format("svg");
  font-weight: normal;
  font-style: normal; }

section, .entries, .entry, .timeline-block {
  float: left;
  width: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

input {
  font-family: "Cardo", "Baskerville", serif;
  background-color: transparent;
  border: 0;
  outline: 0; }

.c {
  display: block;
  float: left; }

.cw {
  width: 987px;
  margin: 0 auto; }

.totals {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 7px 7px 0 7px;
  z-index: 2; }

.module {
  overflow: hidden;
  margin: 57px 7px 7px 7px; }

body {
  font: 300 1em/1.5em "Cardo", "Baskerville", serif;
  color: #333333; }

.page-frame span {
  display: block;
  position: fixed;
  background-color: #737373;
  z-index: 5; }
.page-frame .top, .page-frame .bottom {
  width: 100%;
  height: 7px; }
.page-frame .left, .page-frame .right {
  height: 100%;
  width: 7px; }
.page-frame .top, .page-frame .left {
  top: 0;
  left: 0; }
.page-frame .bottom, .page-frame .right {
  bottom: 0;
  right: 0; }

.totals {
  border-bottom: 1px solid #737373;
  background-color: white; }

.c {
  display: block;
  overflow: hidden;
  float: left;
  white-space: nowrap; }
  .c.date {
    width: 197.4px; }
  .c.amount {
    width: 98.7px;
    margin-right: 49.35px; }
  .c.category {
    width: 246.75px; }
  .c.note {
    width: 394.8px; }
  .c.full {
    width: 100%; }

.entries .amt {
  text-align: right; }

.daily-totals {
  line-height: 28.8px; }
  .daily-totals .amount {
    float: none;
    margin-left: 197.4px; }

.entry {
  position: relative;
  line-height: 28.8px;
  -webkit-transition: line-height 0.2s;
  -moz-transition: line-height 0.2s;
  transition: line-height 0.2s; }
  .entry:not(.editing) .note {
    position: relative; }
    .entry:not(.editing) .note:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 21.33333px;
      background-image: -webkit-linear-gradient(-360deg, rgba(255, 255, 255, 0) 0%, white 100%);
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%); }
  .entry.editing {
    line-height: 57.6px;
    background-color: #737373;
    z-index: 1; }
    .entry.editing .amount {
      margin-left: 0; }
    .entry.editing .remove {
      display: block; }
  .entry.last:not(.editing) .amount {
    border-bottom: 2px dotted #949494; }
  .entry.losing-interest {
    line-height: 57.6px; }
  .entry.removing {
    line-height: 0;
    -webkit-transition-property: line-height;
    -moz-transition-property: line-height;
    transition-property: line-height;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s; }
    .entry.removing > * {
      opacity: 0;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      transition: opacity 0.2s; }
  .entry .amount {
    margin-left: 197.4px; }
  .entry .c {
    cursor: pointer; }
  .entry input {
    width: 100%;
    color: white; }
  .entry .remove {
    display: none;
    position: absolute;
    top: 0;
    right: 0em;
    width: 2.3em;
    text-align: center;
    cursor: pointer; }

.module-io {
  font-size: 0.9375em;
  background-color: white; }

.timeline-block {
  position: relative;
  position: relative;
  padding-top: 21.33333px;
  padding-bottom: 21.33333px;
  margin-bottom: 2px; }
  .timeline-block:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    border-right: 2px dotted #949494;
    left: -moz-calc(((100% - 987px) / 2) + (197.4px / 2));
    left: -o-calc(((100% - 987px) / 2) + (197.4px / 2));
    left: -webkit-calc(((100% - 987px) / 2) + (197.4px / 2));
    left: calc(((100% - 987px) / 2) + (197.4px / 2)); }
  .timeline-block.empty, .timeline-block.empty.with-month {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    line-height: 0; }
    .timeline-block.empty .timeline-date, .timeline-block.empty.with-month .timeline-date {
      opacity: 0;
      -webkit-transition: opacity, 0.2s;
      -moz-transition: opacity, 0.2s;
      transition: opacity, 0.2s; }
  .timeline-block.with-month {
    padding-top: 96px; }
    .timeline-block.with-month .timeline-date {
      top: 96px; }
    .timeline-block.with-month .timeline-month {
      display: block; }

.timeline-date,
.timeline-month {
  position: absolute;
  top: 21.33333px;
  width: 197.4px;
  text-align: center;
  background-color: white;
  z-index: 1;
  left: -moz-calc((100% - 987px) / 2);
  left: -o-calc((100% - 987px) / 2);
  left: -webkit-calc((100% - 987px) / 2);
  left: calc((100% - 987px) / 2); }
  .timeline-date .date,
  .timeline-month .date {
    display: block;
    font-size: 27.73333px; }
  .timeline-date .day,
  .timeline-month .day {
    font-style: italic; }

.timeline-month {
  display: none;
  height: 32px;
  font-weight: 700;
  font-variant: small-caps;
  text-transform: lowercase;
  line-height: 32px; }
