@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700&subset=latin,latin-ext);
* {
  box-sizing: border-box; }

.pure-g {
  letter-spacing: -.71em; }

.c {
  display: block;
  float: left; }

.cw {
  width: 987px;
  margin: 0 auto; }

body {
  font-family: 'Source Code Pro', sans-serif; }

section {
  float: left;
  width: 100%; }

.c.date {
  width: 15%; }
.c.amount {
  width: 15%; }
.c.type {
  width: 15%; }
.c.category {
  width: 20%; }
.c.note {
  width: 35%; }

.s-headings {
  background-color: #f0f0f0; }
