@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Cardo:300,400,500,600,700&subset=latin,latin-ext);
/* 
 * Variables, mixins, abstract classes and functions that do not themselves compile to CSS,
 * but are used throughout the project.
 */
section, .entry, .daily {
  float: left;
  width: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

input {
  font-family: "Cardo", "Baskerville", serif; }

.amt {
  font-family: "Source Code Pro", sans-serif; }

.c {
  display: block;
  float: left; }

.cw {
  width: 987px;
  margin: 0 auto; }

.totals {
  float: left;
  width: 280px; }

.module {
  float: left;
  width: 987px; }

body {
  font: 300 1em/1.5em "Cardo", "Baskerville", serif;
  color: #333333;
  background-color: #f0f0f0; }

.c {
  display: block;
  float: left; }
  .c.date {
    width: 197.4px; }
  .c.amount {
    width: 98.7px;
    margin-right: 49.35px; }
  .c.category {
    width: 296.1px; }
  .c.note {
    width: 345.45px; }
  .c.full {
    width: 100%; }

.daily .amt {
  text-align: right; }

.entry {
  position: relative;
  cursor: pointer; }
  .entry:not(:first-child):not(.editing) .amount {
    margin-left: 197.4px; }
  .entry:not(:first-child):not(.editing) .date {
    display: none; }
  .entry:hover {
    background-color: #f0f0f0; }
    .entry:hover .remove {
      display: block; }
  .entry .remove {
    display: none;
    position: absolute;
    top: 0;
    right: -2.3em;
    width: 2.3em;
    text-align: center;
    cursor: pointer; }
  .entry input {
    width: 100%; }

.module-io {
  font-size: 0.9375em;
  background-color: #f9f9f9; }

.daily-totals {
  margin-bottom: 3em;
  background-color: #f9f9f9; }
  .daily-totals .amount {
    float: none;
    margin-left: 197.4px; }

.s-headings {
  background-color: #f0f0f0; }

.s-new-entry input:not([type=submit]) {
  width: 100%;
  height: 25px; }
