<div class="timeline-block"
     ng-repeat="(index, daily) in dailies | orderBy:order"
	 ng-init="daily.currently_editing = 0" 
     ng-class="{'with-month': !month_unchanged(daily, index), 'empty': !filtered_entries.length}">

     	<div class="timeline-month">
           {{ daily.date | date: 'MMMM yyyy' }}
     	</div>

     	<div class="timeline-date" 
     	     ng-show="daily.currently_editing == 0">
			<span class="date">{{ daily.date | date: 'dd' }}</span>
			<span class="day">{{ daily.date | date: 'EEEE' }}</span>
		</div>

		<div class="subentries">

			<div class="entry" 
			     ng-repeat="entry in filtered_entries = (daily.subentries | filter: filters)" 
			     ng-class="{'editing': editing, 
			                'last': $last, 
			                'losing-interest': losing_interest,
			                'removing': removing}" 
			     focus-on-click="1">

					<div class="cw" 
					     ng-hide="editing"
					     ng-click="editing=true;daily.currently_editing = daily.currently_editing + 1">
						<div class="c amt {{ get_type(entry.amount) }}">{{ entry.amount | currency:'':2 }}</div>
						<div class="c category">{{ entry.category }}</div>
						<div class="c note">{{ entry.note }}</div>
					</div>

					<div class="cw"
					     ng-show="editing">
						<form name="edit-entry" 
						      ng-init="set_entry_date(daily.date, entry)" 
						      interest-lost="editing=false;
			                                 daily.currently_editing = daily.currently_editing - 1;
			                                 process_edits(daily, entry)" 
						      novalidate>
							<div class="c date">
								<input placeholder="Date (dd/mm/yyyy)"
								       ng-model="entry.formatted_date" 
								       ng-required="true" />
							</div>
							<div class="c amt">
								<input type="number" 
									   placeholder="Amount" 
								       ng-model="entry.amount" 
								       ng-required="true" />
							</div>
							<div class="c category">
								<input type="text" 
									   placeholder="Category"
								       ng-model="entry.category" 
								       ng-required="true" />
							</div>
							<div class="c note">
								<input type="text" 
									   placeholder="Note"
								       ng-model="entry.note" />
							</div>
						</form>
					</div> <!-- when editing -->

					<span class="remove" 
					      ng-click="daily.currently_editing = daily.currently_editing - 1;
					                editing = false;
					                losing_interest = true;
					                removing = true;
					                remove_entry(daily, entry)">
					    [x]
					</span>

			</div> <!-- .entry -->

			<div class="cw daily-totals" ng-hide="filters.note || filters.category || filters.$">
				<div class="c amt" ng-show="get_daily_totals(daily).inc">{{ get_daily_totals(daily).inc | currency:'':2 }}</div>
				<div class="c amt" ng-show="get_daily_totals(daily).exp">{{ get_daily_totals(daily).exp | currency:'':2 }}</div>
			</div>

		</div> <!-- .entries -->
</div> <!-- repeat daily in dailies -->

<div class="no-data" ng-show="dailies.length < 1">No entries added</div>