<!-- Full total of filtered entries -->
<div class="c full total" ng-show="filters.note || filters.category || filters.$">
	<div class="c amount">Full total</div>
</div>

<!-- A daily listing -->
<div class="daily" 
     ng-repeat="daily in dailies | orderBy:order" 
     ng-show="filtered_entries.length">

	<div class="entry" 
	     ng-repeat="entry in filtered_entries = (daily.subentries | filter: filters)" 
	     ng-class="{'editing': editing}">

	    <div class="entry-details" 
	         ng-click="editing=true" 
	         focus-on-click>

			<div ng-hide="editing">
				<div class="c date" ng-class="{'no-hide': (filters.note || filters.category || filters.$)}">{{ daily.date | date: 'dd.MM.yyyy' }}</div>
				<div class="c amount {{ get_type(entry.amount) }}">{{ entry.amount | currency:'€':2 }}</div>
				<div class="c category">{{ entry.category }}</div>
				<div class="c note">{{ entry.note }}</div>
			</div>

			<div ng-show="editing">
				<form stop-editing="editing=false;process_edits(daily, entry)" 
				      ng-init="set_entry_date(daily.date, entry)">
					<div class="c date">
						<input type="date"  
						       value="{{ daily.date | date:'yyyy-MM-dd' }}" 
						       ng-model="entry.date" />
					</div>
					<div class="c amount">
						<input type="number" 
						       step="any" 
						       value="{{ entry.amount }}" 
						       ng-model="entry.amount" />
					</div>
					<div class="c category">
						<input type="text" 
						       value="{{ entry.category }}" 
						       ng-model="entry.category" />
					</div>
					<div class="c note">
						<input type="text" 
						       value="{{ entry.note }}" 
						       ng-model="entry.note" />
					</div>
				</form>
			</div> <!-- when editing -->

		</div> <!-- .entry-details -->

		<span class="remove" ng-click="remove_entry(daily, entry)">[x]</span>

	</div> <!-- .entry -->

	<div class="c full total" ng-hide="filters.note || filters.category || filters.$">
		<div class="c amount">{{ get_daily_totals(daily).balance | currency:'€':2 }}</div>
	</div>
</div> <!-- .daily -->

<div class="no-data" ng-show="dailies.length < 1">No entries added</div><!-- A daily listing -->