<!doctype html>
<html ng-app="fio">
<head>
  <title>Fio</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="static/favicon.ico">

  <!-- The grid -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.2.0/base-min.css&pure/0.2.0/grids-min.css&pure/0.2.0/forms-min.css">

  <!-- The styles -->
  <link rel="stylesheet" href="static/styles/css/main.css">
  
  <!-- The before-load scripts -->
 
</head>
<body>

	<div class="module" ng-view></div>

	<!-- The sidebar overview and nav. Focal point of experience. -->
	<aside class="totals">

		<nav>
			<ul>
				<li><a href="#/io">IO</a></li>
				<li><a href="#/recurring">Recurring</a></li>
				<li><a href="#/totals">Totals</a></li>
			</ul>
		</nav>

	</aside>

	<!-- The document.ready libraries -->
	<script src="static/lib/jquery-1.10.2.min.js"></script>
	<script src="static/lib/angular.min.js"></script>

	<!-- The plugins -->
	<script src="static/lib/log.js"></script>
	<script src="static/lib/csvjson.min.js"></script>

	<!-- The app -->
	<script src="static/js/app.js"></script>
	<script src="static/js/services.js"></script>
	<script src="static/js/controllers.js"></script>
	<script src="static/js/directives.js"></script>
	<script src="static/js/filters.js"></script>

</body>