<section ng-init="init_io_ctrl()" class="module-io">

	<!-- <section class="s-total">
		<div class="cw">
			<div class="c all-totals">
				<span class="c date">Total income:</span>
				<span class="c amount">{{ get_totals().inc | currency:'€':2 }}</span>
				<span class="c date">Total expenses:</span>
				<span class="c amount">{{ get_totals().exp | currency:'€':2 }}</span>
				<span class="c date">Balance:</span>
				<span class="c amount">{{ get_totals().balance | currency:'€':2 }}</span>
			</div>
			<div class="c category"><input type="text" ng-model="filters.$" /></div>
		</div>
	</section>
 -->
<!-- 	<section class="s-headings">
		<div class="cw">
			<div class="c date">Date</div>
			<div class="c amount">Amount</div>
			<div class="c category">
				<select ng-model="filters.category">
					<option value="" ng-click="filtering=false">Everything</option>
					<option value="Groceries" ng-click="activate_filtering()">Groceries</option>
					<option value="Entertainment" ng-click="filtering=true">Entertainment</option>
					<option value="Restaurants & coffee shops" ng-click="filtering=true">Rest</option>
					<option value="Eating out" ng-click="filtering=true">Eating out</option>
					<option value="Cinema" ng-click="filtering=true">Cinema</option>
				</select>
			</div>
			<div class="c note"><input type="text" placeholder="Search notes" ng-model="filters.note" /></div>
		</div>
	</section> -->

	<div class="new-entry" 
		 ng-init="form_visible=false;form_preview=false"
     	 ng-mouseenter="form_preview=true" 
     	 ng-mouseleave="form_preview=false" 
		 ng-class="{'active': form_visible || form_preview, 
		 			'preview': form_preview && !form_visible}"
		 focus-on-click="1">

		<!-- AddEntry form -->
		<div class="cw" ng-show="form_visible">
			<form name="addEntry" 
			      press-enter="add_entry();reset_form()"
			      focus-on-enter="1" 
			      ng-click="filters={}" 
			      novalidate>
				<div class="c date">
					<input type="text" 
						   name="date" 
						   placeholder="Date" 
						   ng-model="date"
						   validate-date 
						   ng-required="true">
				</div>
				<div class="c amt">
					<input type="text" 
						   name="amount" 
						   placeholder="Amount"
						   ng-model="amount" 
						   validate-number 
						   ng-required="true">
				</div>
				<div class="c category">
					<select name="category" 
						    ng-model="category" 
						    ng-options="c.cat group by c.type for c in categories" 
						    ng-required="true">
						<option value="">Choose category</option>
					</select>
				</div>
				<div class="c note">
					<input type="text" 
						   placeholder="Note"
						   ng-model="note" />
				</div>
			</form>
		</div>

		<!-- Cancel editing -->
		<div class="cancel" 
			 ng-show="form_visible" 
			 ng-click="disregard_edits();
			 		   form_visible=false;
			 		   form_preview=false">
			<i class="icon-remove"></i>
		</div>

		<!-- AddEntry trigger -->
		<div class="prompt" 
	     	 ng-click="form_visible=true"
	     	 ng-hide="form_visible">
	     	<div class="timeline-date"
	     		 ng-show="form_preview && !form_visible">
				<span class="date">{{ today | date: 'dd' }}</span>
				<span class="day">{{ today | date: 'EEEE' }}</span>
			</div>
			<div class="cw" ng-show="form_preview && !form_visible">
				<div class="c amt">Amount</div>
				<div class="c category">Category</div>
				<div class="c note">Note</div>
			</div>
			<div class="text-link" ng-hide="form_preview && !form_visible"><i class="icon-plus"></i></div>
		</div>

		<ng-include src="templates.errors" onload="form=addEntry"></ng-include>
	</div>

	<div class="entries"  ng-include src="templates.entries">

</section>