//=Display & Flow
// display, visibility, float, clear
// 
//=Positioning
// position, top, right, bottom, left, z-index
// 
//=Dimensions
// width (min, max), height (min, max), overflow
// 
//=Margins, Padding, Borders, Outline
// margin (top, right, bottom, left), padding (top, right, bottom, left), 
// border (top, right, bottom, left), border-width, border-style, 
// border-color, outline, list-style
// 
//=Typographic Styles
// font, font-family, font-size, line-height, font-weight, text-align, 
// text-indent, text-transform, text-decoration, letter-spacing, word-spacing, 
// white-space, vertical-align, color
// 
//=Backgrounds
// background, background-color, background-image, background-repeat, 
// background-position
// 
//=Opacity, Cursors, Generated Content
// opacity, cursor, content, quotes
// 
// 
//=Font weights:
// 100: Ultra Light
// 200: Thin
// 300: Light
// 400: Regular
// 500: Semi Bold
// 600: Bold
// 700: Extra Bold
// 800: Heavy
// 900: Ultra Heavy
// 
//=Use hyphenation for selectors; use underscores for variables.

//=RESET
//========================================================
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input {
	font-family: $main_font;
}

// Override .pure-g letter-spacing to work with monospaced fonts
//.pure-g { letter-spacing: -.71em; }

//=HELPERS
//=========================================================
// These are global classes that can be reused everywhere 
// to aid with more elementary structure or design elements

// Numbers should be monospaced
.amt {
	font-family: $mono_font;
}

// This is a column
.c {
	display: block;
	float: left;
}

// This wraps to center
.cw {
	@include center-wrapper(987px);
}

//=BASE
//=========================================================
// Classes to define the base structure of the page

.totals {
	float: left;
	width: $focal_width;
}

.module {
	float: left;
	width: $module_width;
}

section {
	@extend %uncollapse;
}

//=========================================================

body {
	// All numbers should be monospaced
	font: 300 1em/1.5em $main_font;
	color: $dd_gray;
	background-color: $ll_gray;
}

// Entries ================================================

$date_w: 0.2 * $module_width;
$amount_w: 0.1 * $module_width;
$amount_p: 0.05 * $module_width;
$category_w: 0.3 * $module_width;
$note_w: 0.35 * $module_width;

.c {
	display: block;
	overflow: hidden;
	float: left;
	white-space: nowrap;

	&.date { width: $date_w; }
	&.amount { width: $amount_w; margin-right: $amount_p; }
	&.category { width: $category_w; }
	&.note { width: $note_w; }
	&.full { width: 100%; }
}

.entry, .daily {
	@extend %uncollapse;
}

.daily {
	.amt {
		text-align: right;
	}
}

.entry {
	position: relative;
	cursor: pointer;
	.amount { margin-left: $date_w; }
	&.editing {
		.amount { margin-left: 0 }
		.timeline-date { display: none }
	}
	&:hover {
		background-color: $ll_gray;
		.remove { display: block; }
	}
	.remove {
		display: none;
		position: absolute;
		top: 0;
		right: -2.3em;
		width: 2.3em;
		text-align: center;
		cursor: pointer;
	}
	input {
		width: 100%;
	}
}

.module-io {
	font-size: em(15px);
	background-color: $lll_gray;
}

.timeline-date {
	position: absolute;
	width: $date_w;
	text-align: center;
	z-index: 1; 	// Get out of the way of the entry hover
	span:first-child {
		display: block;
		font-size: em(26px, em(15px));
	}
	span:nth-last-child(1) {
		font-style: italic;
	}
}

.daily-totals {
	margin-bottom: 3em;
	.amount {
		float: none;
		margin-left: $date_w;
	}
}

.s-headings {
	background-color: $ll_gray;
}

.s-new-entry {
	input:not([type=submit]) {
		width: 100%;
		height: 25px;
	}
}